header {
    background-color: rgb(77, 124, 194);
    padding: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding: 25px 50px;
}
.text {
    max-width: 70ch;
    margin: 40px 100px; 
}


.text:not(:first-child) {
    margin-top: 25px;
}

p {
    color: red;
    font-family: sans-serif;
    
}
