header {
    background-color: rgb(77, 124, 194);
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding: 2em;
}
.text {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}


.text:not(:first-child) {
    margin-top: 2em;
}

p.one {
   background-color: bisque; 
   color: #666666;
   text-shadow: 1px 1px 0px #000000;
}