:root {
    --page-spacing:24px;
    --font-size: 16px;
    --brand-color: black;
    --sidebar-color: #eee;
    --link-color: rgb(71, 69, 152);
}

@media (min-width: 1012px) {
    :root {
        --page-spacing:24px;
        --font-size: 16px;
       
        

    }
}

.container {
    width: 85%;
    margin: auto;
}

body {
    font-size: var(--body-copy);
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    display: flex;
    background-color: black;
    color: azure;
}

h1 {
    font-size: calc(var(--body-copy) * 4 );
    font-size: xx-large;
}

h2 {
    font-size: calc(var(--body-copy) * 2 );
    font-size: xx-large;
}

p { max-width: 80ch;}

h2:not(:first-child),
p:not(:first-child) {
    margin-top: var(--page-spacing);

}

h2:not(:first-child) {
    font-size: xx-large;
}

@media (min-width: 1012px) {
    :root {
        --page-spacing:24px;
        --font-size: 16px;
       
        

    }
a {
    color: var(--link-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"
        "nav    article aside"
        "footer footer footer"
    }

