:root {
    --page-spacing:24px;
    --font-size: 16px;
    --brand-color: black;
    --sidebar-color: #eee;
    --link-color: rgb(2, 0, 149);
}


.container {
    width: 85%;
    margin: auto;
}

body {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    display: flex;
    background-color: black;
    color: azure;
}

h1 {
    font-size: calc(var(--body-copy) * 4 );
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: calc(var(--body-copy) * 2 );
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p { max-width: 80ch;}

h2:not(:first-child),
p:not(:first-child) {
    margin-top: var(--page-spacing);

}

h2:not(:first-child) {
    font-size: xx-large;
}



a {
    color: var(--link-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"
        "nav    article aside"
        "footer footer footer"
    }

#right {
    background-color: rgb(52, 52, 117);

}
